<!DOCTYPE html>
<html  dir="{{ .Site.Language.LanguageDirection | default "ltr" }}" lang="{{- site.Language.Lang -}}" data-theme="{{- .Site.Params.displayMode -}}">
{{- partial "head.html" . -}}

<head>
  {{ if .Site.Params.GoogleAnalyticsID }}
  {{ partial "analytics-gtag.html" . }}
  {{ end }}
  ...
</head>

<body>

{{- partial "sidebar.html" . -}}
<div class="main">
    {{ partial "navbar.html" . }}
    <div class="autopagerize_page_element">
        <div class="content">
            {{- block "main" . }}{{- end }}
        </div>
    </div>
</div>

{{- partial "footer.html" . -}}
{{- if .Site.Params.GoogleAnalyticsID -}}
    {{- partial "analytics-gtag.html" . -}}
{{- end -}}
</body>

</html>
